/*Common Styles*/
body {
  color: #222222;
  font-size: 1em;
  font-family: "Helvetica Neue", "sans-serif";
}
a {
  text-decoration: none;
  letter-spacing: .05em;
  margin-right: 1em;
  color: #6899FF;
}
.introduction > p,
.location > p,
.content-footer > p{
  font-weight: 300;
  letter-spacing: 0.05em;
}
h1 {
  font-size: 24px;
}
p {
  font-family: "Verdana", "sans-serif"
}
/*Header Styles*/
.masthead-intro {
  text-align: center;
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", "Georgia", "serif";
  font-size: 2em;
  
}
.masthead-heading {
  text-align: center;
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", "sans-serif";
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.masthead {
  padding: 6em 0;
  background-image: url("https://images.unsplash.com/45/Ss2c5MVASdGkVHOwG6n9_Imogene%20Pass.jpg?q=80&fm=jpg&s=1ea176817d6cdd7ea76d572a00cd1133");
  background-size: cover;
  
}
/*Content Styles*/
.introduction-section, .location-section, .question-section, .project-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  /* border-bottom: 2px dotted #6899FF; */
  text-align: center;
}
.question-section > h2 {
  font-family: "Gentium Bok Basic", "Georgia", "serif";
  font-size: 1.2em;
  font-weight: bold;
}
.question-section > p {
  padding: .30em;
}
/*Projects*/
.project-section > h1 {
  margin-bottom: 1em;
}
.images {
  list-style-type: none;
  display: inline-block;
}
.images li {
    float:left;
    padding:10px;
    width: 46%;
}
.images li img {
    width: 100%;
    height: 157px;
}
/*Footer Styles*/
.content-footer {
  text-align: center;
  background-color: #292929;
  padding: .70em;
  margin-top: 2em;
}
.social > li {
  display: inline-block;
  padding: .30em;
}
.content-footer{
  color: white;
}
.page-btn {
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 5em;
}
.page-btn button {
  color: #fff;
  background-color: #6899FF;
  border-color: #6899FF;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
table.table-section {
  margin-top: 3em;
  margin: auto;
}
.table-section tr:nth-child(odd) {
  background-color: #dddddd;
}
table, td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.padding-style {
  padding-bottom: 1em;
}
/*Responsive Styles*/
@media only screen and (max-width: 500px) {
  .content-footer{
    font-size: 2em;
  }
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .images li {
    float: none;
    margin: auto;
  }
} 